*{
    padding: 0;
    margin: 0;
    background-color: rgb(247, 238, 189);
}

.main-container {
  margin: 20px;
}

.header {
  text-align: center;
  margin: 10px;
  letter-spacing: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
}

.header h1 {
  width: 70%;
  margin-top: 50px;
}

.logo {
  height: 100px;
  width: 150px;
  margin: 10px;
}

img {
  max-height: 100%;
}

.navbar {
  margin: 10px;
  font-family: 'Abril Fatface', cursive;
}

.nav-links {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: rgba(9, 9, 14, 0.23) 0 30px 30px -20px;
}
.nav-links li {
    list-style: none;
  }

a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.bookclub, .about{
    margin: 20px;
    padding: 20px;
    font-size: larger;
    font-weight: 400;
}

.bookclub h1{
   text-align: center;
   margin: 20px auto;
   letter-spacing: 2px;
   font-family: 'Abril Fatface', cursive;
}

.btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.btn{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #000;
    color: gold;
    font-weight: bold;
}

.btn:hover{
  background-color: gold;
  color: #000;
}

.container{
   margin: 50px;
   display: flex;
   flex-wrap: wrap;
   gap: 35px;
   padding: 20px;
}

.headers {
  text-align: center;
  margin-top: 30px;
  letter-spacing: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Abril Fatface', cursive;
}

.card {
  background-color: #f7f7f7;
  padding: 30px;
  margin: 20px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  width: 200px;
  height: 300px;
  border: 2px solid black;
}

.card-image {
  border-radius: 50%;
  width: 215px;
  height: 200px;
}

.card-text{
  display: block;
  border-radius: 8px;
  margin: 10px;
  width: 100%;
}
.card-name {
  font-size: 19px;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
}

.card-location{
  font-size: 15px;
  font-weight: 100;
  margin: 20px auto;
  text-align: center;
}

.error{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.error-text{
  display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: 'Abril Fatface', cursive;
}